:root {
    --color-page-background: 250, 250, 250;  /* 105, 99, 122 */
    --color-app-background: 240, 235, 252;   /* 43, 39, 56 */
    --color-text-gray: 109, 104, 124;
    --color-text-black: 25, 24, 26;
    --color-white-low: 250, 250, 250;

    --color-purple: 109, 52, 224; /* 135, 87, 231 */
    --color-purple-hover: 65, 31, 134;
    --color-purple-light: 240, 235, 252;
    --color-purple-dark: 26, 13, 54;

    --color-link: 135, 87, 230;

    --color-form-background: 60, 54, 77;

    --button-border-radius: 0.4rem;
    --button-padding: 0.75rem 10vh;
}

html {
    font-size: 1rem;
    color: rgb(var(--color-text-black));
}

body {
    background-color: rgb(var(--color-app-background));
    min-height: 100vh;
    font-size: 0.85rem;
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.auth-container .content {
    max-width: 400px;
    margin: 0 auto;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-bar {
    width: 50vh;
}

a {
    color: rgb(var(--color-link)); /* Normální barva odkazu */
}

a:hover {
    color: rgb(var(--color-purple)); /* Barva při hoveru */
}

a:visited {
    color: #9c6de3; /* Barva navštíveného odkazu */
}

a:active {
    color: #d465e3; /* Barva při aktivaci (při kliknutí) */
}

button {
    transition: background-color 0.2s ease;
}

.navbar-container {
    display: flex;
    flex-direction: row;

    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    height: 3em;
    padding: 1.25rem 1rem 1rem 0.25rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
}

.navbar-container img {
    width: 4rem;
    
}

.navbar-app-logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin: 0.25rem;
    padding: 0.5rem;
    padding-left: 10rem;

    p {
        font-size: 1.5rem;
        font-family: "Tomorrow", sans-serif;
        font-weight: 600;
        font-style: normal;
        margin-bottom: 1.25rem;
    }
}

.purple-text {
    color: rgb(var(--color-purple));
}

.purple-dot {
    color: rgb(var(--color-purple));
    font-size: 1.25rem;
}

.navbar-menu {
    margin: 0.25rem;
    padding: 0.5rem;
    padding-right: 10rem;
}

.navbar-menu-right img {
    width: 1.75rem;
}

