.auth-view {
    width: 55rem;
    height: 42rem;

    border-radius: 0.60rem;
    background-color: rgb(var(--color-app-background));
    overflow: hidden;

    box-shadow: 0 0 1rem rgba(var(--color-app-background), 0.7);

    color: rgb(var(--color-text-black));
    padding: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.auth-view h1 {
    font-weight: 700;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.main {
    padding: 2rem;
}

.auth-view .sign-up-button {
    background-color: rgb(var(--color-purple));
    color: rgb(var(--color-white-low));
    border-radius: var(--button-border-radius);
    border: 0;

    transition: background-color 0.3s ease;

    width: 100%; /* Zabírá celou šířku rodiče */
    padding: 0.75rem; /* výška tlačítka */
    box-sizing: border-box; /* Aby padding a border neovlivňovaly šířku */
}

.sign-up-button:hover {
    background-color: rgb(var(--color-purple-hover)); /* #5a45c4; Barva při hoveru */
}

.sign-up-button:active {
    background-color: rgb(var(--color-purple)); /* Barva při aktivaci (při kliknutí) */
}

.sign-up-form {
    margin-top: 2rem;
}

.sign-up-form input::placeholder {
    text-indent: 0.55rem;
}

.sign-up-form * {
    padding: 0.75rem 0rem 0.75rem;
}

.sign-up-form input {
    display: block;
    width: 100%;
    border-radius: var(--button-border-radius);
    border: 0.1rem;
    border-color: rgba(0, 0, 0, 0.132);
    border-style: solid;
    background-color: rgba(var(--color-white-low));
    text-indent: 0.55rem;

    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.sign-up-form input:focus {
    outline-color: rgb(var(--color-purple));
}

.sign-up-form label {
    margin-left: 0.55rem;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1.25rem 0;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 0.10rem solid;
    margin: 1.25rem 1rem;
}

.divider span {
    white-space: nowrap;
    font-size: 1rem;
}

.social-login {
    background-color: var(--color-app-background);
    color: rgb(var(--color-text-black));
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dva sloupce stejné šířky */
    gap: 1rem; /* Mezera mezi tlačítky */
}

.google-button:hover {
    background-color: rgb(31, 30, 63);
}

.google-button:active {
    background-color: rgb(var(--color-app-background));
}

.apple-button:hover {
    background-color: rgb(31, 30, 63);
}

.apple-button:active {
    background-color: rgb(var(--color-app-background));
}


.icon {
    width: 1rem;
    padding-right: 0.4rem;
}

.google-button,
.apple-button {
    color: white;
    background-color: rgb(var(--color-purple-dark));
    border-radius: var(--button-border-radius);
    width: 100%; /* Každé tlačítko zabere celý sloupec */
    padding: 0.75rem; /* Výška tlačítek */
    box-sizing: border-box; /* Aby padding neovlivňoval šířku */
    display: flex;
    align-items: center;
    justify-content: center; /* Zarovnání obsahu na střed */
}

/* Right side - App logo */ 
.purple-color-text {
    color: rgb(var(--color-purple));
}

.app-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    font-size: 2.5rem;
    position: relative;
}

.app-info h2 {
    margin-bottom: 3.8rem;
}

.app-info img {
    width: 10rem;
}

.app-info .app-logo {
    position: absolute; /* Použijeme absolutní pozicování */
    bottom: 0; /* Umístíme obrázek na dolní okraj */
    right: 0; /* Umístíme obrázek k pravému okraji */
    width: 4rem; /* Nastavíme velikost obrázku */
    height: auto;
    margin: 1rem; /* Přidáme mezeru od okrajů */
}

.dot {
    color: rgb(var(--color-purple));
    margin-left: 0.5rem;
}

